setuptools-rust
pynput
pipwin
pystray
psutil
numpy
tqdm
more-itertools
transformers
ffmpeg-python==0.2.0
click
pyaudio
SpeechRecognition
pydub
git+https://github.com/openai/whisper.git
torch
torchvision
torchaudio
# --extra-index-url https://download.pytorch.org/whl/cu117